* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;

    .red-sec {
        background-color: #f58235;
        display: flex;
        justify-content: space-between;
        border-bottom: solid 2px #e75b49;

        .call {
          padding: 5px;

          h4 {
            margin-left: 25%;
          }
        }

        nav {
            ul {
                display: flex;
                list-style: none;
                margin-top: 10px;

                li {
                    a {
                        text-decoration: none;
                        margin-left: 20px;
                        color: #ffffff;
                    }
                }
                li:last-child {
                    margin-right: 60px;
                }
            }
        }
    }
}

.green-sec {
    display: flex;
    justify-content: space-between;
    background-color: #000000;

    nav {
        ul {
            display: flex;
            list-style: none;
            padding: 30px 0;

            li {
                a {
                    text-decoration: none;
                    margin-left: 20px;
                    color: #ffffff;
                }
            }
            li:last-child {
                margin-right: 80px;
            }
        }
    }
    h3 {
        margin: 30px 0;
    }
}

.sec1 {
  background-image: url("IMG/sandwich.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0 0 0;

  h1,
  h3,
  .inputs {
      text-align: center;
  }

  h1 {
      font-family: Courier New;
      font-size: 50px;
      letter-spacing: 3px;
      line-height: 1.6;
  }

  h3 {
      font-family: Verdana;
      letter-spacing: 3px;
      margin-bottom: 18px;
  }

  .inputs {
      background-color: #ffffff6e;
      padding: 8px 13px;
      width: 65%;
      margin: auto;
      justify-content: center;
      align-items: center;
      position: relative; /* Add position relative for absolute positioning */

      input {
          border: none;
          width: 260px;
          height: 28px;
          padding: 6px 10px;
          margin-left: 15px;
      }

      input:nth-child(3) {
          background-color: #f58235;
          text-align: center;
      }
  }

  .search-input::after {
      content: "\f002"; /* Unicode value for the search icon */
      font-family: FontAwesome; /* Make sure to include the FontAwesome library */
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      color: #555;
      pointer-events: none; /* Make sure the icon is not clickable */
  }

  .big-board {
      margin: 30px 0 0 0;
      text-align: center;
      background: #ffffffbb;

      .line {
        background: #c919ff;
        height: 1px;
        width: 500px;
        margin-left: 30%;
      }

      h3 {
          background-image: linear-gradient(to right, #646566, #323333, #000000);
          background-clip: text;
          -webkit-text-fill-color: transparent;
          background-size: auto;
          font-size: 36px;
          font-family: Lucida Grande;
          padding-top: 30px;
      }

      .board {
          display: flex;
          padding: 20px;

          div {
              margin: 15px 16px;
              border: solid 1px #555552;
              overflow: hidden;

              p {
                  color: #000;
                  padding: 16px 18px;
              }


            .btn{
                /*width: 120px;
                height: 50px;
                outline: none;
                cursor: pointer;
                background: none;
                transition: .5s;
                margin-bottom: 22px;
                font-size: 13px;
                border-radius: 5px;
                font-family: "Lato",sans-serif;
                &:hover{
                border: none;
                color: white;
                font-size: 15px;
                transform:scale(1.1);*/

                background-image: linear-gradient(to right, #1D2B64 0%, #F8CDDA  51%, #1D2B64  100%);
                margin: 10px;
                padding: 15px 45px;
                text-align: center;
                text-transform: uppercase;
                transition: 0.5s;
                background-size: 200% auto;
                color: white;
                border: none;
                box-shadow: 0 0 20px #eee;
                border-radius: 10px;
                display: block;

                &:hover {
                background-position: right center; /* change the direction of the change here */
                color: #fff;
                text-decoration: none;
                }
                
            }

            }

            /* Buttons
            .btn1 {
                border: 1px solid #c919ff;
                color: #050505;
                &:hover {
                    background: linear-gradient(to right, #1d73e4, #f165f1, #ff9fe7, #7effff);
                    transition: all 0.3s ease-in-out;
                }*/

            }
      }   

          img {
              width: 100%;
              height: 280px;
              transition: .6s;

              &:hover {
                transform: scale(1.1);
                transition: all 0.6s ease-in-out;
              }
          }
      }

.sec2 {
    background-image: url('IMG/pizza.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;

    div {
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100%;

        h2 {
            font-size: 50px;
            padding-bottom: 10px;
            text-align: center;
        }
        p {
            letter-spacing: 3px;
            margin: 10px 100px 0 100px;
        }

        img {
            width: 300px;
            height: 300px;
            margin-left: 28px;
            margin-top: 40px;
            border: #555 solid 1px;
            border-radius: 10px;
            filter: blur(4px);
            transition: .6s;

            &:hover {
                transition: all ease-in-out 0.6s;
                cursor: pointer;
                filter: none;
            }
        }
    }
}
footer {
    
    .one {
        background: #474141;
        display: flex;
        justify-content: space-evenly;
        padding: 30px 0 30px 0;

        h4 {
            padding-bottom: 15px;
        }

        ul {
            list-style-type: square;

            li {

                a {
                    text-decoration: none;
                }
            }
        }

        p {
            width: 400px;
        }
    }

    .two {
        background: #1a1818;
        height: 40px;
        width: 100%;

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
        }
    }
}